.page {
  margin: 0 auto;
  max-width: 1905px;
  @include pageTheme($lighterGray, $dark);
  font-family: "PT Root UI", Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 360px) {
  .page {
    max-width: 360px;
  }
  
}
