.delivery__time {
  @include resetListStyles();
  font-weight: 400;
  font-size: $main-size;
  line-height: 28px;
  letter-spacing: 0.13px;
  margin-right: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 360px) {
  .delivery__time {
    font-size: 17px;
    line-height: 21px;
    margin-top: 4px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
}