/* ---------------------------- colors ---------------------------- */

// for background
$lighterGray: #F2F2F2;
$lightGray: #F8F8F8; // footer only
$darkGray: #333;
$darkerGray: #2f2f2f; // footer only
$transparent: transparent;
$snow: #f4f4f4; // for cards

// for text
$white: #fff;
$veryLightGray: #ededed; // for paragraphs color: #e5e5e5, opacity: 70%
$americanSilver: #cfcfcf; // used for copyright
$mediumDarkGray: #565656; // used for copyright
$semi-gray: #646464; // for paragraphs color: #222, opacity: 70%
$dark: #333333;






/* --------------------------- font-sizes --------------------------- */

$header-size: 35px;
$delivery-title: 29px;
$main-size: 22px;
$mobile-header-size: 34px;
$mobile-content-title: 21px;
$mini-title: 17px;


