.delivery__delivery-method {
  @include resetListStyles();
  font-weight: 700;
  font-size: $main-size;
  line-height: 28px;
  letter-spacing: 0.13px;
  grid-area: deliveryMethod;
}

@media screen and (max-width: 360px) {
  .delivery__delivery-method {
    font-size: 17px;
    line-height: 21px;
  }
}